@model Bru2o.Models.WaterProfile

@{
    ViewBag.Title = "Delete";
}

<h2>Delete @Model.Title</h2>

<h5>Are you sure you want to delete Water Profile: <span style="color:#0ce3ac;">@Model.Title?</span> <br /> This process cannot be undone.</h5>

<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
