@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('../../Content/Images/WaterBG.png'); background-size:cover;">
    <div class="well well-sm" style="opacity: .9;">
        <h1>Bru2o</h1>
        <p class="lead">
           A web application for homebrewers looking to create or modify their water profile, get ideas on styles and store your water profiles to use or modify later.
            All calculations were taken from EZ Water Calculator 3.0, all credits to them for calculations.
        </p>
        <p><a href="http://www.ezwatercalculator.com/" class="btn btn-primary btn-lg">EZ Water Calculator 3.0</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>