@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('../../Content/Images/WaterBG.png'); background-size:cover;">
    <div class="well well-sm" style="opacity: .9;">
        <h1>Bru2o</h1>
        <p class="lead">
           A web app for homebrewers to create and store their water profiles on a cloud-based platform. <br/>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:#00bc8c;">Tried and True Calculations</h2>
        <p>All calculations were taken from the EZ Water Calculator Excel spreadsheet. Learn more and show your support using the button below.</p>
        <p><a class="btn btn-default" href="http://www.ezwatercalculator.com/">EZ Water Calculator 3.0 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:#00bc8c;">Free and Open Source</h2>
        <p>I designed this application to be free and open source to anyone who is interested.</p>
        <p><a class="btn btn-default" href="https://github.com/Fienix/Bru2o">Github &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:#00bc8c;">Get Started</h2>
        <p>All you need to get started is an email address and password to register your account. After that, create as many water profiles as you would like!</p>
        <p><a class="btn btn-default" href="~/WaterProfiles">Water Profiles &raquo;</a></p>
    </div>
</div>